.background {
	color:blue;
	/*background-attachment: ("https://s-media-cache-ak0.pinimg.com/originals/67/25/ee/6725ee8ac761507c2df58b04d5232d58.jpg");
	background image:url("https://s-media-cache-ak0.pinimg.com/originals/67/25/ee/6725ee8ac761507c2df58b04d5232d58.jpg");*/
}
{	
font-size: 3rem;
color:lightgreen;
}
.h1style{
	color:lightgreen;
}
.h2style{
	color:lightgreen;
}